<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
   <link rel="stylesheet" href="./../Styles/login.css">
</head>
<body>
  <div class="login-box">
    <button class="close-btn" title="Close">×</button>
    <h2>Login</h2>
    <h3>Welcome Back!</h3>
    <p>Please enter your details to login</p>

    <form>
      <input type="text" placeholder="Name" required />
      <input type="email" placeholder="Email" required />
      <input type="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
